<%- include ('./layouts/header.ejs') %>

  <!-- Inicio Banner  -->
  <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <% for(var i=0; i<items.length; i++){%>
        <div class="carousel-item <%if(i==0){%>active<%}%>">
          <div class="container">
            <div class="row p-5">
              <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                <img class="img-fluid" src="<%=items[i].fondo%>" alt="Banner 01">
              </div>
              <div class="col-lg-6 mb-0 d-flex align-items-center">
                <div class="text-align-left align-self-center">
                  <h1 class="h1 text-success">
                    <%=items[i].titulo%>
                  </h1>
                  <h3 class="h2">
                    <%=items[i].subtitulo%>
                  </h3>
                  <p>
                    <%=items[i].descripcion%>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% } %>
          <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
          </a>
    </div>
  </div>
  <!-- Fin Banner -->

  <!-- Inicio Productos destacados -->
  <section class="bg-light">
    <div class="container py-5">
      <div class="row text-center py-3">
        <div class="col-lg-6 m-auto">
          <h1 class="h1">Productos destacados</h1>
          <p>
            Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint occaecat cupidatat non proident.
          </p>
        </div>
      </div>
      <div class="row">

        <% for(var i=0; i<productos_destacados.length; i++){%>
          <div class="col-12 col-md-4 mb-4">
            <div class="card h-100">
              <a href="shop-single.html">
                <img src="<%=productos_destacados[i].imagen%>" class="card-img-top" alt="...">
              </a>
              <div class="card-body">
                <ul class="list-unstyled d-flex justify-content-between">
                  <li>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                    <i class="text-warning fa fa-star"></i>
                  </li>
                  <li class="text-muted text-right">$<%=productos_destacados[i].precio%>
                  </li>
                </ul>
                <a href="shop-single.html" class="h2 text-decoration-none text-dark">
                  <%=productos_destacados[i].titulo%>
                </a>
                <p class="card-text">
                  <%=productos_destacados[i].descripcion%>
                </p>
              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  </section>
  <!-- Fin Productos Destacados -->

  <%- include ('./layouts/footer.ejs') %>
    </body>

    </html>